body {
    background-image: url("body1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;

    z-index: -1;
}

.pr {
    color: white;
}

.navbar-toggler {
    color: white;
    border: solid 1px white;
}

.t {
    color: white;
    text-align: center;
}

.aa {
    padding: 10px;
}


.dd {
    color: white;
    text-decoration: none;
    float: right;
}

a {
    color: white;
    text-decoration: none;
    float: right;
}

.nav-link {
    color: white;
}

.aa {
    height: max-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.pare {
    background-color: transparent;
    color: white;
    padding: 5px;
}

.container {
    text-align: center;
    color: white;
}

.card-img {
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.footer {
    background-color: black;
    margin-bottom: auto;
}

.navbar-toggler {
    background-color: white;
}

.regi {
    text-align: left;
}

.ss {
    background-image: url(regina.jpeg);
}

.ii {
    background-image: url(issouf.jpeg);
}

h4 {
    text-align: left;
}

.pourc {
    text-align: center;
    color: white;
}

/* .q{background-color:red;
height: 4px;} */

.trai {
    background-color: orangered;
    height: 5px;
    width: 200px;

}

.hh {
    background-color: orangered;
    height: 5px;
    width: 200px;
    justify-items: center;
}

.trai2 {
    justify-content: center;
    margin-left: 60px;
    align-content: center;
}

.hr1 {
    height: 20px;
    text-align: center;
}

.tr {
    display: block;
    width: 2px;
    height: 650px;
    background-color: orangered;
    margin: 50%;
}

.cercle {
    width: 50px;
    height: 50px;
    background-color: green;
}



.dis {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: transparent;
    color: white;
    border: none;

}

.pro {
    display: flex;
}

/* .az{display: flex;} */
.card {
    text-align: center;
}

.line1 {
    background-color: red;
    margin-left: 40%;
    margin-right: 40%;
    height: 8px;
}

.line2 {
    background-color: red;

    height: 3px;

}

.l1 {
    background-color: yellow;
    height: 5px;
}

.l2 {
    background-color: rgb(14, 233, 14);
    height: 5px;
}

.l3 {
    background-color: rgb(122, 99, 125);
    height: 5px;
}

.l4 {
    background-color: red;
    height: 5px;
}

.l5 {
    background-color: blue;
    height: 5px;
}